a href="/" Back

h1 Edit article
= render "form", article: @article
button#preview_button onclick="update_preview()" preview

br
= link_to "FUCKING DISINTEGRATE THAT SHIT", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }

= render "preview"