// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

textarea {
	width: 700px;
	height: 300px;
}

div#article_title .htb {
	width: 31px;
	position: relative;
	top: 4px;
	margin-right: 5px;
	border-radius: 50px;
	padding-bottom: 0px;
	display: inline;
}

h1#article_header {
	word-wrap: break-word;
	font-family: 'Merriweather', serif;
	line-height: 36px;
	color: #373d49;
	margin-top: 10px;
	display: inline;
}

div.article_content {
	word-wrap: break-word;
	font-family: 'Merriweather', serif;
	line-height: 20px;

	.header {
		color: #373d49;
		padding-top: 15px;
		line-height: 41px;
		margin: 0;
	}

	.header .anchor {
		text-decoration: none;
		padding-left: 10px;
		font-size: 24px;
		visibility: hidden;
		font-size: 27px;
	}

	.header:hover .anchor, .anchor:hover {
		visibility: visible;
	}

	h3 {
		font-size: 20px;
	}

	padding-bottom: 10%;

	p code {
		// color: #ea2626;
		// background-color: #d2e6e6;
		color: #ffc273;
		background-color: #4c4f4f;
		padding: 1px 7px 2px 7px;
		border-radius: 7px;
		margin: 0 1px 0 1px;
	}
	mark {
		padding: 2px;
		border-radius: 6px;
	}

	blockquote {
		margin: 0;
		padding: 0 0 0 10px;
		border-left: 2px solid gray;
		color: #464646;
	}

	pre code {
		font-family: Hack;
	}

	img {
		max-width: 100%;
	}

	pre code, img {
		border-radius: 5px;
	}
}

div.article_content.preview {
	max-height: 100%;
	overflow: scroll;
}

