// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css');

h1#header {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0 40px 0;
	font-weight: 400;
	word-wrap: break-word;
	color: #1f2229;
}

div#content {
	margin-left: 25%;
	margin-right: 25%;
	padding: 10px;
	// margin-top: 20px;
	min-height: 90%;
	padding-bottom: 40px;
}

a#back {
	font-size: 30px;
	padding-left: 20px;
	position: absolute;
	top: -20px;
}

a {
	color: #7d9ada;
}

div.article_preview {
	font-family: 'Merriweather', serif;

	p.body_preview {
		word-wrap: break-word;
	}
	.title a {
		color: #7d9ada;
		font-size: 16px;
	}
	.title a:visited {
		color: #ad7dda;
	}
}

h1#article_header {
	word-wrap: break-word;
	font-family: 'Merriweather', serif;
	line-height: 20px;
	color: #373d49;
}

div#login {
	position: absolute;
	bottom: -50px;
	right: 0px;
	margin: 20px;
}

#articlebuttons {
	position: absolute;
	bottom: -30px;
	right: 50%;
}

div #login {
	display: inline;
}
